<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create user</title>
    <link rel="stylesheet" href="../css/styles.css" />
    
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create"  class="active" >Create User</a>
    
    </div>
    <div class="form">
      <form action="/createUser" method="POST">
        <fieldset>
          <legend>Form add new user</legend>
          <div>
            <input type="text" name="email" />
            <label for="">Email</label>
          </div>
          <div>
            <input type="text" name="name" />
            <label for="">Name</label>
          </div>
          <div>
            <input type="text" name="city" />
            <label for="">City</label>
          </div>
          <button>ADD</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
